.route {
    display: inline-block;
    padding: 10px 50px 10px 50px;
    border: 1px black;
}
nav {
    width: 800px;
    display: block;
    margin: 20px;
    border: 2px black;
}
h1 {
    width: 800px;
    padding-left: 50px;
}
